<component th:fragment="meta" xmlns:th="http://www.thymeleaf.org">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="" name="description">
  <meta content="Jay" name="author">
  <link href="" rel="shortcut icon">

</component>